@import url('https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro?styles=82961,82969,82957');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-rp-background text-rp-text;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
  }
}

.btn-primary {
  @apply text-rp-background bg-rp-pink-50 hover:bg-rp-pink-20  py-2 px-4 rounded;
}

.btn-secondary {
  @apply text-rp-text bg-rp-green-30  hover:bg-rp-green-40  py-2 px-4 rounded;
}

.column-primary {
  @apply text-rp-text bg-rp-yellow-50;
}

.column-secondary {
  @apply text-rp-background bg-rp-green-50;
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

mark {
  background: transparent;
}
.app {
  position: relative;
}
.wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}
