$color-1: #d2ea99;
$color-2: #c77a69;
$color-3: #4ba076;
$color-4: #688cbb;
$color-5: #debf7d;
$color-6: #897bbd;

$colors: (
  base: (
    '0': #f0e7d8,
    '1': #c77a69,
    '2': #4ba076,
    '3': #688cbb,
    '4': #debf7d,
    '5': #897bbd,
    '6': #897bbd,
  ),
  lighter: (
    '0': #f0e7d899,
    '1': #c77a6999,
    '2': #4ba07699,
    '3': #688cbb99,
    '4': #debf7d99,
    '5': #897bbd99,
    '6': #897bbd99,
  ),
);

$spacing-xxs: 4px;
$spacing-xs: 8px;
$spacing-l: 30px;
